body {
  background-color: #010503;
  background-image: url('img/under-water.png');
  background-repeat: repeat-x;
}

h1, h2 {
  font-family: bahiana;
}

.navbar-toggle.collapsed {
  border-color: white;
}

.navbar-toggle.collapsed:hover {
  background-color: rgba(255,255,255,0.5);
}

.navbar-inverse {
  background-color: transparent;
  border: none;
  font-size: 36px;
  text-align: center;
  margin-left: 4em;
}

.bahiana {
  font-family: bahiana;
}

h1.bahiana {
  color: white;
}

h2 {
  font-size: 36px;
}

ul.nav.navbar-nav.navbar-static-top, .nav.navbar-nav.navbar-right {
  margin-top: 20px;
}

ul.nav.navbar-nav.navbar-static-top > li.active > a {
  background-color: transparent;
}

.main {
  margin: 4em;
}

.carousel-inner {
  margin-top: 2em;
}

article {
  background-color: rgba(255, 255, 255, 0.5);
  color: #010503;
  margin-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1px;
  padding-bottom: 1px;
}

.media {
  padding: 1em;
  color: white;
}

.media-object.img-thumbnail {
  max-width: 300px;
  border: none;
  background-color: transparent;
}

.make_message, a.make_message:focus {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  margin-top: 2em;
  background-color: #9D9D9D;
  border: none;
  font-weight: bold;
  color: black;
}

a.make_message:hover {
  color: black;
  text-decoration: none;
  background: #cccccc;
}

.gallery {
  text-align: center;
}

img {
  display: inline-block;
}

a, a:focus {
  color: #0A2619;
  text-decoration: none;
}
a:hover {
  color: #217836;
}

footer {
  display: block;
  width: 100%;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #0A2619;
  clear: both;
  bottom: 0px;
}

.mentions {
  margin: 10em;
  color: white;
}

h3 {
  margin-top: 2em;
}

.gallery a img:hover {
  box-shadow: 0 0 15px #CEF6D8;
  position: relative;
  z-index: 2;
}
